<h3><a href="/rider"><< Back</a></h3>
<h1>City View - <%= @city.name %>, <%= @city.state %></h1>
<% if @local_trains.any?() %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Train</th>
      <th scope="col">Direction</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    Here's a list of all of your STOPS!!!:

    <% @local_trains.each_with_index do |stop, index|%>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><a href="/train_info/<%= stop['train_id'] %>"><%= stop["train_name"] %></a></td>
      <td><%= stop["direction"] %></td>
      <td><%= stop["time"] %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <% else %>
  <br><br><br><br>
  <p>Currently, no trains go to this city!</p>
  <p>We're sorry your city is so lame!</p>
  <% end %>
