<% if @possible_trains.any?() %>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Train</th>
      <th scope="col">Direction</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      <br><br><br><br>
    <h4>Possible Routes</h4>

    <% @possible_trains.each_with_index do |train, index|%>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= train.name %></td>
      <td><%= train.direction %></td>
      <td><form action="/purchase/<%= train.id %>" method="post"><input type="hidden" name="start_city_id" value="<%= @start_city %>"><input type="hidden" name="end_city_id" value="<%= @end_city %>"><button type="submit" class="btn btn-info">Purchase Ticket</button></form></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <% else %>
  <br><br><br><br>
  <p>There are no trains going to those cities!</p>
  <% end %>

<a class ="back-btn" href="/rider">Back</a>
