<div class="row">
  <div class="col-md-6">
    <div class="col-md-10">
      <% if @trains.any?() %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Direction</th>
          </tr>
        </thead>
        <tbody>
          <h3>All Trains</h3>

          <% @trains.each_with_index do |train, index|%>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><a href="/train_info/<%= train.id %>"><%= train.name %></a></td>
            <td><%= train.direction %>
            </tr>
            <%end%>
          </tbody>
        </table>
        <% else %>
        <br><br><br><br>
        <p>You don't have any trains yet!</p>
        <% end %>
      </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-10">
      <% if @cities.any?() %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">City</th>
            <th scope="col">State</th>
          </tr>
        </thead>
        <tbody>
          <h3>All Cities</h3>

          <% @cities.each_with_index do |city, index|%>
          <tr>
            <th scope="row"><%= index+1 %></th>
            <td><a href="/city_info/<%= city.id %>"><%= city.name %></a></td>
            <td><%= city.state %>
            </tr>
            <%end%>
          </tbody>
        </table>
        <% else %>
        <br><br><br><br>
        <p>You don't have any cities yet!</p>
        <% end %>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>Purchase A Ticket</h3>
    <form class="add-stop" action="/find_train" method="post">
      <label for="time">Depart from</label>
      <select name="start_city">
        <% @cities.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %>, <%= city.state %></option>
        <% end %>
      </select>
      <label for="time">To</label>
      <select name="end_city">
        <% @cities.each do |city| %>
          <option value="<%= city.id %>"><%= city.name %>, <%= city.state %></option>
        <% end %>
      </select>
      <button type="submit" class="btn btn-info">Find a Train</button>
    </form>
  </div>

  </div>
</div>
<a class ="back-btn" href="/">Back</a>
