<h1>Train View - <%= @train.name %> (<%= @train.direction %>)</h1>


<% if @train_stops.any?() %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    Here's a list of all of your STOPS!!!:

    <% @train_stops.each_with_index do |stop, index|%>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= stop["city_name"] %></td>
      <td><%= stop["state"] %></td>
      <td><%= stop["time"] %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
  <% else %>
  <br><br><br><br>
  <p>You don't have any stops yet!</p>
  <% end %>

<a class ="back-btn" href="/rider">Back</a>
