<h3><a href="/operator"><< Back</a></h3>
<h1>Train View - <%= @train.name %> (<%= @train.direction %>)</h1>
<form class="add-stop" action="/add_stop/<%= @train.id %>" method="post">
  <label for="time">Expected Arrival Time</label>
  <input class= "input" type="text" required="true" name="time"><br>
  <label for="city">Add a city</label>
  <select name="city">
    <% @cities.each do |city| %>
      <option value="<%= city.id %>"><%= city.name %>, <%= city.state %></option>
    <% end %>
  </select><br>
  <button type="submit" class="btn btn-info">Add a stop</button>
</form>



<% if @train_stops.any?() %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Time</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    Here's a list of all of your STOPS!!!:

    <% @train_stops.each_with_index do |stop, index|%>
    <tr>
      <th scope="row"><%= index+1 %></th>
      <td><%= stop["city_name"] %></td>
      <td><%= stop["state"] %></td>
      <td><%= stop["time"] %></td>
      <td><form action="/stops/<%= stop['stop_id'].to_i %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="train_id" value="<%= @train.id %>">
        <button type="submit" class="btn btn-info" value="<%= stop['stop_id'].to_i %>">X</button>
      </form>
      </tr>
      <%end%>
    </tbody>
  </table>
  <% else %>
  <br><br><br><br>
  <p>You don't have any stops yet!</p>
  <% end %>

<h3>Update</h3>
<form action="/trains/<%= @train.id %>" method="post">
  <label for="add-train">Name of train</label>
  <input type="text" required="true" name="train_name" value="<%= @train.name %>"><br>
  <label for="add-train">Add the train's direction</label>
  <input type="text" required="true" name="train_direction" value="<%= @train.direction %>"><br>
  <input type="hidden" name="_method" value="patch">
  <button type="submit" class="btn btn-info">Edit</button>
</form>

<form action="/trains/<%= @train.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">DELETE</button>
</form>
