<h1>Train View</h1>
<form class="add-stop" action="/add_stop/<%= @train.id %>" method="post">
  <label for="time">Expected Arrival Time</label>
  <input type="text" required="true" name="time"><br>
  <label for="city">Add a city</label>
  <select name="city">
    <% @cities.each do |city| %>
      <option value="<%= city.id %>"><%= city.name %>, <%= city.state %></option>
    <% end %>
  </select><br>
  <button type="submit">Add a stop</button>
</form>

<div class="col-md-6">
  <div class="col-md-10">
    <% if @train_stops.any?() %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">City</th>
          <th scope="col">State</th>
          <th scope="col">Time</th>
        </tr>
      </thead>
      <tbody>
        Here's a list of all of your STOPS!!!:

        <% @train_stops.each_with_index do |stop, index|%>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td><%= stop["city_name"] %></td>
          <td><%= stop["state"] %></td>
          <td><%= stop["time"] %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
      <% else %>
      <br><br><br><br>
      <p>You don't have any cities yet!</p>
      <% end %>
    </div>
</div>
<a class ="back-btn" href="/operator">Back</a>
